<body>
    <header class="Content-Nav">
        <div class="logo">
            <h1>It's All Egg</h1>
            <h2>from bEGGinning to end, it's always been there</h2>
        </div>
        <nav class="menu">
            <button class="menu-toggle" aria-label="Toggle menu" aria-expanded="false">
                <div></div>
                <div></div>
                <div></div>
            </button>
            <div class="menu-items" id="menuItems">
                <ul>
                    <li><a href="#">Let's Get Crackin'</a></li>
                    <% if (currentPage !== 'home') { %>
                        <li><a href="<%= url('home') %>"><i class="fas fa-home"></i>Home</a></li>
                    <% } %>
                    <li><a href="#"><i class="fas fa-info-circle"></i>About</a></li>
                    <li><a href="#"><i class="fas fa-cogs"></i>Services</a></li>
                    <li><a href="#"><i class="fas fa-briefcase"></i>Portfolio</a></li>
                    <li><a href="#"><i class="fas fa-envelope"></i>Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
</body>